.buttonAdmin{
    width: 50%;
    background-color: rebeccapurple;
    height: 50px;
    padding: 10px;
    // margin: 10px;
    margin-left: 25%;
    margin-top: 170px;
    border-radius: 20px;
    font-size: large;
    color: white;
}

.buttonUser{
    width: 50%;
    background-color: green;
    height: 50px;
    padding: 10px;
    margin-left: 25%;
    margin-top: 10px;
    border-radius: 20px;
    font-size: large;
    color: white;
    // margin: 10px;
}

.buttonProfile{
    width: 50%;
    background-color:darkslategray;
    height: 50px;
    padding: 10px;
    margin-left: 25%;
    margin-top: 10px;
    border-radius: 20px;
    font-size: large;
    color: white;
    // margin: 10px;

}

