.modal-body {
    // display: block;
    background-color: green;
}


.ReactModal__Content {
   border-radius: 10px !important;
  background: rgb(153, 191, 202) !important;

}

.cart_subtitle{
    margin-left: 28%;
}

.price-div{
    font-weight: bold;
    font-size: 20px;
    margin-left: 26%;
}

.cost-div{
    font-weight: bold;
    font-size: 20px;
    margin-left: 18%;
}

.quantity{
    margin-left: 12%;
}